* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: black;
}

.bxs-phone-call {
  color: rgb(254, 158, 13);
}

.btn-shape {
  padding: 1.1rem 2rem;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgb(254, 158, 13);
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}
.btn-shape i {
  color: white;
}

.img-shape {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.card-shape {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 20px;
}

h1 {
  font-size: 5rem;
  line-height: 70px;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 60px;
    letter-spacing: 0rem;
  }
}

.border-padding {
  padding: 1rem 2rem;
}

.title-h1 {
  flex-wrap: wrap;
  text-align: center;
  margin-top: 0.8rem;
  font-size: 3rem;
  font-weight: 200;
  line-height: 50px;
  font-style: normal;
  font-family: "Libre Baskerville", serif;
}
@media (max-width: 768px) {
  .title-h1 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 30px;
  }
}

.or-title {
  color: rgb(254, 158, 13);
}

.or-circle {
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  left: 30%;
  top: 30%;
}
@media (max-width: 768px) {
  .or-circle {
    width: 17px;
    height: 17px;
  }
}

.red-circle {
  width: 30px;
  height: 30px;
  background-color: #F1592A;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  right: 2%;
}
@media (max-width: 768px) {
  .red-circle {
    width: 17px;
    height: 17px;
    top: 40%;
  }
}

.gr-circle {
  background-color: #8DC63F;
  width: 15px;
  height: 15px;
  top: 65%;
  left: 40%;
}
@media (max-width: 768px) {
  .gr-circle {
    width: 10px;
    height: 10px;
  }
}

.pad-top {
  margin-top: 1.5rem;
}

.pad-btm {
  margin-bottom: 1.5rem;
}

.hero {
  background-color: #F7F8FA 0.3;
  background-size: cover;
  width: 100%;
  padding: 0.3rem 2rem;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}
.hero .left-hero {
  width: 45%;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 5rem;
}
@media (max-width: 768px) {
  .hero .left-hero {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero .left-hero p {
    text-align: center;
  }
}
.hero .left-hero h1 {
  width: 90%;
}
@media (max-width: 768px) {
  .hero .left-hero h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 50px;
    width: 100%;
    flex-wrap: wrap;
  }
}
.hero .left-hero button {
  color: white;
  width: 26%;
  background-color: black;
}
@media (max-width: 768px) {
  .hero .left-hero button {
    margin-left: 20%;
    width: 40%;
  }
}
.hero .right-hero {
  width: 55%;
  padding: 0.2rem 1rem;
}
@media (max-width: 768px) {
  .hero .right-hero {
    display: none;
  }
}
.hero .right-hero img {
  width: 100%;
}

.program {
  width: 100%;
}
.program .top-program {
  width: 100%;
  text-align: center;
}
.program .top-program h1 {
  font-weight: 400;
  font-size: 3rem;
}
.program .top-program p {
  flex-wrap: wrap;
}
.program .bottm-program {
  width: 100%;
  display: grid;
  grid-gap: 1.3rem;
  padding: 0.3rem 3rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
@media (max-width: 768px) {
  .program .bottm-program {
    padding: 0.3rem 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.program .bottm-program .programs-card {
  padding-bottom: 2rem;
  overflow: hidden;
  text-align: center;
  flex-wrap: wrap;
}
.program .bottm-program .programs-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 22px;
}
.program .bottm-program .programs-card img {
  width: 100%;
  height: 200px;
}
.program .bottm-program .programs-card .text-sectn {
  text-align: center;
  padding: 0.6rem 4.5rem;
}
@media (max-width: 768px) {
  .program .bottm-program .programs-card .text-sectn {
    padding: 0.6rem 0.2rem;
  }
}
.program .bottm-program .programs-card .text-sectn h1 {
  width: 200px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 0.8rem;
}
.program .bottm-program .programs-card .text-sectn p {
  margin-top: 0.8rem;
  flex-wrap: wrap;
}
.program .bottm-program .programs-card .text-sectn button {
  margin-top: 2rem;
  color: white;
  background-color: black;
}

.about {
  text-align: center;
  padding: 1rem 3rem;
  margin-top: 1rem 0.5rem;
}
@media (max-width: 768px) {
  .about {
    padding: 0.2rem 0.2rem;
  }
}
.about p {
  margin-top: 2rem;
  width: 80%;
  margin-left: 6rem;
  text-align: center;
}
@media (max-width: 768px) {
  .about p {
    margin-left: 1rem;
  }
}
.about .about-btns {
  gap: 2rem;
  margin-top: 1rem;
}
.about .about-btns button {
  background-color: black;
}
.about .about-btns button:hover {
  background-color: rgb(255, 159, 13);
}
.about .about-btns .green-btn {
  background-color: #096247;
}

.fundraise {
  width: 100%;
  padding: 1rem 2rem;
}
@media (max-width: 768px) {
  .fundraise {
    flex-direction: column;
    padding: 1rem 0.2rem;
  }
}
.fundraise .left-fundraise {
  width: 50%;
}
@media (max-width: 768px) {
  .fundraise .left-fundraise {
    width: 100%;
  }
}
.fundraise .left-fundraise img {
  width: 97%;
}
.fundraise .right-fundraise {
  width: 50%;
  padding: 0.4rem 4rem;
  gap: 1rem;
  flex-direction: column;
}
@media (max-width: 768px) {
  .fundraise .right-fundraise {
    width: 100%;
    padding: 0.4rem 0.3rem;
  }
}
.fundraise .right-fundraise h1 {
  text-align: start;
  color: rgb(22, 22, 22);
}
.fundraise .right-fundraise p {
  color: rgb(49, 49, 49);
}
.fundraise .right-fundraise a {
  color: rgb(254, 158, 13);
  text-decoration: underline;
  font-size: 1.2rem;
}

.help {
  width: 100%;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  background-color: #F7F8F9;
}
@media (max-width: 768px) {
  .help {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
}
.help .left-help {
  width: 50%;
  gap: 2rem;
  flex-direction: column;
}
@media (max-width: 768px) {
  .help .left-help {
    width: 99%;
  }
}
.help .left-help h1 {
  text-align: start;
  width: 80%;
  font-weight: bold;
}
@media (max-width: 768px) {
  .help .left-help h1 {
    font-size: 1.3rem;
  }
}
.help .left-help button {
  background-color: black;
}
.help .left-help .white-sectn {
  padding: 1rem 1rem;
  background-color: white;
}
@media (max-width: 768px) {
  .help .left-help .white-sectn {
    padding: 0.3rem 0.2rem;
  }
}
.help .left-help .white-sectn .help-serv {
  padding: 0.3rem 3rem;
  width: 100%;
  border-bottom: 2px solid gray;
}
@media (max-width: 768px) {
  .help .left-help .white-sectn .help-serv {
    padding: 0.3rem 1rem;
  }
}
.help .left-help .white-sectn .help-serv .serv-1 {
  flex-direction: column;
}
.help .left-help .white-sectn .help-serv .serv-1 i {
  font-size: 2rem;
  color: gray;
}
.help .left-help .white-sectn .help-serv .serv-1 i:hover {
  color: orange;
}
.help .left-help .white-sectn .help-serv .serv-1 p {
  text-align: center;
  margin-top: 0.2rem;
  color: gray;
}
.help .left-help .white-sectn .help-serv .serv-1 p:hover {
  color: orange;
}
.help .right-help {
  width: 50%;
}
@media (max-width: 768px) {
  .help .right-help {
    width: 100%;
  }
}
.help .right-help img {
  width: 100%;
}

body {
  width: 100vw;
  background: url(./assets/h1-bg01.png);
  background-size: contain;
  font-family: "Roboto", sans-serif;
}
body .nav-bar {
  width: 100%;
  padding: 1.3rem 2rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  body .nav-bar {
    padding: 1rem 0.1rem;
    width: 100%;
  }
}
body .nav-bar .logo {
  width: 20%;
}
@media (max-width: 768px) {
  body .nav-bar .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
body .nav-bar .logo img {
  width: 73%;
}
@media (max-width: 768px) {
  body .nav-bar .logo img {
    width: 30%;
  }
}
body .nav-bar .logo i {
  font-size: 2.5rem;
  display: none;
}
@media (max-width: 768px) {
  body .nav-bar .logo i {
    display: block;
    color: rgb(85, 84, 84);
  }
}
body .nav-bar .nav-list {
  width: 40%;
  gap: 1.5rem;
  font-size: 0.92rem;
  font-weight: 500;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  body .nav-bar .nav-list {
    display: none;
  }
}
body .nav-bar .nav-contact {
  gap: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 40%;
  font-size: 1.4rem;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  body .nav-bar .nav-contact {
    display: none;
  }
}
body .nav-bar .nav-contact button {
  padding: 1.1rem 2rem;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgb(254, 158, 13);
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}
body .nav-bar .nav-contact button i {
  color: white;
}/*# sourceMappingURL=style.css.map */